{% extends "partials/base.html" %}
{% block content %}
    <div class="col col-lg-12">
        <div class="row">
            <h1> Add a book </h1>
            <div class="top-actions">
                <p>
                    Add an 
                    <a href="/authors/add">author</a>
                    or
                    <a href="/publishers/add">publisher</a>
                    |
                    <a href="/books">View Books</a>
                </p>
            </div>
            <br/>
        
            <!-- Content -->
            <div class="row">
                {% if error %}
                <div class="alert alert-danger">
                    <strong>Error</strong> <br/>
                    {{error}}
                </div>
                {% endif %}
                <form method="post" class="form-group col-lg-6">
                    <fieldset>
                        <legend>Enter details</legend>
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input type="text" class="form-control" name="title">
                        </div>
                        <div class="form-group">
                            <label for="isbn">Isbn:</label>
                            <input type="text" class="form-control" name="isbn">
                        </div>
                        <div class="form-group">
                            <label for="year">Year:</label>
                            <input type="datetime" class="form-control" name="year">
                        </div>
                        <div class="form-group">
                            <label for="cover">Cover (Paste an image url):</label>
                            <input type="text" class="form-control" name="cover">
                        </div>
                        <div class="form-group">
                            <label for="author">Author:</label>
                            <select name="author" class="form-control">
                                {% for author in authors %}
                                    <option value="{{author.id}}">{{author.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="publisher">Publisher:</label>
                            <select name="publisher" class="form-control">
                                {% for publisher in publishers %}
                                    <option value="{{publisher.id}}">{{publisher.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success">Add Book</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
